<!DOCTYPE html>
<html ng-app="application">
<head>
    <meta charset="utf-8">
    <title>Test 1</title>
    
    <script src="../lib/angular-1.3.4.min.js"></script>    
    <script src="application.js"></script>
    <script src="../inspir3.js"></script>
</head>
<body>
    
	<div ng-controller="DepenseControleur">
      
		<button type="button" ng-click="ajout()">ajout</button>
		<button type="button" ng-click="modification()">modification</button>
		<button type="button" ng-click="suppression()">suppression</button>
		<button type="button" ng-click="chargement()">chargement</button>
		<button type="button" ng-click="sauvegarde()">sauvegarde</button>
                          
	</div>    
    
</body>
</html>